html, body { height: 100%; font-family: 'Open Sans', sans-serif;
}

body
{
	display: flex;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

.background-cf-blue {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#059bd7+0,ffffff+33,ffffff+40,ffffff+60,ffffff+65,32459c+99 */
background: #059bd7; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #059bd7 0%, #ffffff 33%, #ffffff 40%, #ffffff 60%, #ffffff 65%, #32459c 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #059bd7 0%,#ffffff 33%,#ffffff 40%,#ffffff 60%,#ffffff 65%,#32459c 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #059bd7 0%,#ffffff 33%,#ffffff 40%,#ffffff 60%,#ffffff 65%,#32459c 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#059bd7', endColorstr='#32459c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


.form-signup
{
	width: 100%;
	max-width: 400px;
	margin: auto;
}

.form-signup .form-floating:focus-within { z-index: 2; }
a:link { text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { text-decoration: underline; }
a:visited { text-decoration: none; }

.btn-cf-blue {background: #059bd7;}


@media screen and (max-width: 600px) {
  .background-cf-blue  {
    background: #fff !important;
  }
}